@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Devanagari:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: "Poppins", serif;
     --primary-color:rgb(177, 12, 106);
     font-size: 18px;
     transition: all 1s ease;
}
header{
 background-color: black;
 color:white;
 display: flex;
 padding: 20px 50px;
 justify-content: space-between;
 align-items: center;
 position: sticky;
 top: 0px;
 z-index: 1000;
}
header .logo p{
    font-size: 36px;
}
.logo p span{
      font-size: 36px;
    color: var(--primary-color);
}
.menu{
    display: flex;
    gap:20px;
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}
header button{
    background-color: white;
    color: black;
}
button{
       padding: 10px 20px;
    border-radius: 20px;
}
button:hover{
    background-color: var(--primary-color);
}
li a:hover{
    color: var(--primary-color);
    transform: scale(1.2);
}
section{
    padding: 50px 100px;
}

#banner{
    display: flex;
}
.bannerLeft{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}
.bannerLeft h1{
    font-size: 36px;
}
.bannerLeft h1 span{
    font-size: 36px;
    color: var(--primary-color);
}
.bannerLeft p{
    text-align: justify;
    line-height: 30px;
    letter-spacing: 5px;
}
.bannerRight img{
width: 600px;
}
.buttons button:nth-child(1){
 background-color: black;
 color: white;
}
.buttons button:nth-child(2){
    border: 2px solid var(--primary-color);
    background-color: white;
}
.title{
    font-size: 28px;
    text-align: center;
    text-shadow: 2px 2px var(--primary-color);
}
#about{
    display: flex;
    flex-direction: column;
    gap:50px;
}
#about p{
   text-align: justify;
   letter-spacing: 5px;
   font-size: 20px;
   line-height: 30px;
}
.boxes{
    display: flex;
    justify-content: space-evenly;
}
.boxes .box{
    padding: 40px;
    border-radius: 20px;
    box-shadow: 2px 3px var(--primary-color);
}
.boxes .box:hover{
    transform: scale(1.15);
}

#skills {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    place-items: center;
}
#skills img{
    height: 150px;
}

#projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.project{
    border-radius: 25px;
    box-shadow: 1px 2px var(--primary-color);
    padding:25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.project h2{
    font-size: 32px;
}
.project img{
    width: 350px;
}
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
form input,textarea{
    border-radius: 20px;
}
form input:focus{
    outline: 1px solid var(--primary-color);
    border: 1px solid var(--primary-color);
}
textarea{
    resize: none;
}




footer{
    background-color: black;
    color: white;
    text-align: center;
}

/* media queries */
@media (min-width:578px) and (max-width:576px) {
    header{
        flex-direction: column;
        gap: 20px;
    }
    .menu{
        flex-direction: column;
    }
    #banner{
        flex-direction: column-reverse;
        align-items: center;
    }
    .buttons{
        flex-direction: column;
    }
    .bannerRight img{
        width: 300px;
    }
    .bannerLeft h1, .bannerLeft h1 span{
        font-size: 20px;
    }
    .boxes{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    #skills {
        grid-template-columns: repeat(1,1fr);
    }
     #projects{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
}
@media (max-width:776px){
      header{
        flex-direction: column;
        gap: 20px;
        position: static;
    }
    .menu{
        flex-direction: column;
    }
     #banner{
        flex-direction: column-reverse;
        align-items: center;
    }
    .boxes{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
     #skills {
        grid-template-columns: repeat(2,1fr);
    }
    #projects{
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    .project{
        padding: 20px;
    }
    .project h2{
        font-size:26px ;
    }
    .project img{
        width: 250px;
    }
}