@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Devanagari:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 13px;
}
body{
    height: 100vh;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
 height: 70vh;
 width: 70vw;
 display: grid;
 grid-template-columns: repeat(4,1fr);
 gap: 10px;
}
.child{
    background-color: green;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.child1{
grid-column:1/3;
background-color: hsl(263, 55%, 52%);
background-image: url('./images/bg-pattern-quotation.svg');
background-repeat: no-repeat;
background-position: right top;;
}
.profile img{
    border-radius: 50%;
}
.child h1{
    font-size: 24px;
}
.profile h3{
    color: white;
}
.profile h4{
    color:hsl(0, 0%, 81%)
}
.para{
    color: hsl(0, 0%, 81%)
}
.title{
    color: white;
}
.child2{
grid-column:3/4;
}
.child3{
grid-column:4/5;
grid-row:1/3;
}
.child4{
grid-column:1/2;
}
.child5{
 grid-column:2/4;
}
.profile{
    display: flex;
    gap: 5px;
    align-items:center
}