body{
    display: grid;
    grid-template-columns: repeat(3,100px);
}
.box{
    height: 300px;
    background-color: rgb(255, 0, 0);
    margin: 10px;
    font-size: 48px;
    color: white;
}
.box:hover{
    background-color: black;
}
.box2{

  background-color: blue;
}
@media(min-width:320px) and (max-width:480px){
    .box{
        background-color: green;
    }
}
.box3{
    animation: sideJump 0.1s ease  infinite alternate;
}
@keyframes sideJump {
    0%{
     transform: translateX(0px);
    }
    100%{
        transform: translateX(20px);
    }
}